version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
    labels:
      - "dependencies"
      - "dependabot"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: daily
    labels:
      - "dependencies"
      - "dependabot"
    groups:
      kubernetes-dependencies:
        patterns:
          - "k8s.io/api"
          - "k8s.io/apimachinery"
          - "k8s.io/client-go"
          - "k8s.io/component-base"
